<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="inspector">
    <head>
        <title>Getting Started Extension's Popup</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Grand+Hotel|Open+Sans:400italic,400,600,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <!--
          - Chrome plugin:
          - JavaScript and HTML must be in separate files: see our Content Security
          - Policy documentation[1] for details and explanation.
          -
          - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
         -->
        <script src="js/angular.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/popup.js"></script>
    </head>
    <body ng-controller="PageController as page">
		<header>
			<h1>Frontendler <small>Inspector</small></h1>
			<nav>
				<ul>
					<li ng-click="page.goTo('seo')" ng-class="{active : page.current== 'seo'}">SEO</li>
					<li ng-click="page.goTo('social')" ng-class="{active : page.current== 'social'}">SOCIAL</li>
					<li ng-click="page.goTo('performance')" ng-class="{active : page.current== 'performance'}">PERFORMANCE</li>
					<li ng-click="page.goTo('httpheader')" ng-class="{active : page.current== 'httpheader'}">HEADERS</li>
				</ul>
			</nav>
		</header>

		<main ng-controller="ContentController as content">
			<section class="seo" ng-show="page.current == 'seo'">
				<div class="conteudo">
					<h2>META</h2>
					<div class="regra">
						<span class="nome">Title: </span>
						<span class="valor" ng-class="{warning : !data.meta.title}">{{data.meta.title || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">Description: </span>
						<span class="valor" ng-class="{warning : !data.meta.description}">{{data.meta.description || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">Viewport: </span>
						<span class="valor" ng-class="{warning : !data.meta.viewport}">{{data.meta.viewport || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">Keywords: </span>
						<span class="valor" ng-class="{warning : !data.meta.keywords}">{{data.meta.keywords || 'undefined'}}</span>
					</div>
				</div>
			</section>
			<section class="social" ng-show="page.current == 'social'">
				<div class="conteudo">
					<h2>FACEBOOK</h2>
					<div class="regra">
						<span class="nome">og:title: </span>
						<span class="valor" ng-class="{warning : !data.social.ogTitle}">{{data.social.ogTitle}}</span>
					</div>
					<div class="regra">
						<span class="nome">og:description: </span>
						<span class="valor" ng-class="{warning : !data.social.ogDescription}">{{data.social.ogDescription || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">og:site_name: </span>
						<span class="valor" ng-class="{warning : !data.social.ogSiteName}">{{data.social.ogSiteName || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">og:url: </span>
						<span class="valor" ng-class="{warning : !data.social.ogUrl}">{{data.social.ogUrl || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">og:image: </span>
						<span class="valor" ng-class="{warning : !data.social.ogImage}">{{data.social.ogImage || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">og:type: </span>
						<span class="valor" ng-class="{warning : !data.social.ogType}">{{data.social.ogType || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">og:locale: </span>
						<span class="valor" ng-class="{warning : !data.social.ogLocale}">{{data.social.ogLocale || 'undefined'}}</span>
					</div>
				</div>
				<div class="conteudo">
					<h2>TWITTER</h2>
					<div class="regra">
						<span class="nome">twitter:title: </span>
						<span class="valor" ng-class="{warning : !data.social.twitterTitle}">{{data.social.twitterTitle || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">twitter:description: </span>
						<span class="valor" ng-class="{warning : !data.social.twitterDescription}">{{data.social.twitterDescription || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">twitter:site: </span>
						<span class="valor" ng-class="{warning : !data.social.twitterSite}">{{data.social.twitterSite || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">twitter:card: </span>
						<span class="valor" ng-class="{warning : !data.social.twitterCard}">{{data.social.twitterCard || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">twitter:image: </span>
						<span class="valor" ng-class="{warning : !data.social.twitterImage}">{{data.social.twitterImage || 'undefined'}}</span>
					</div>
					<div class="regra">
						<span class="nome">twitter:url: </span>
						<span class="valor" ng-class="{warning : !data.social.twitterUrl}">{{data.social.twitterUrl || 'undefined'}}</span>
					</div>
				</div>
			</section>
			<section class="performance" ng-show="page.current == 'performance'">
				<div class="conteudo">
					<h2>STYLES <span>({{data.style.link.length}})</span></h2>
					<div class="regra" ng-repeat="link in data.style.link | orderBy ">
						<a href="{{link}}" class="valor" target="_blank">{{link}}</a>
					</div>
				</div>
				<div class="conteudo">
					<h2>SCRIPTS <span>({{data.script.source.length}})</span></h2>
					<div class="regra" ng-repeat="source in data.script.source | orderBy">
						<a href="{{source}}" class="valor" target="_blank">{{source}}</a>
					</div>
				</div>
			</section>
			<section class="httpheader" ng-show="page.current == 'httpheader'">
				<div class="conteudo">
					<h2>HTTP HEADER</h2>
					<div class="regra">
						<span class="nome">http header: </span>
						<span class="valor">{{data.httpheader}}</span>
					</div>
				</div>
			</section>
		</main>
    </body>
</html>
